.benefits {
    text-align: center;
    background-color: $light-orange;
    .inner {
        .benefits-title {
            display: inline-block;
            margin-top: 50px;
            h1 {
                padding-bottom: 30px;
                font-size: 2.6rem;
            }
            p {
                font-weight: bold;
                span {
                    color: #fff;
                }
            }
        }
        .three-benefits {
            display: inline-block;
            margin-top: 140px;
            margin-bottom: 40px;
            width: 100%;
            position: relative;
            h1 {
                line-height: 1.6;
                font-size: 2.6rem;
                position: absolute;
                transform: translate(-50%, -50%);
                background-color: $light-orange;
                left: 50%;
                top: -25px
            }
            .benefits-item-wrap {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 50px 100px;
                border: 2px solid #fff;
                .benefit-item {
                    background-color: #fff;
                    width: 245px;
                    height: 240px;
                    border-radius: 50%;
                    padding: 50px 16px;
                    h2 {
                        font-weight: normal;
                        font-size: 2.2rem;
                        color: $light-orange;
                        padding-bottom: 20px;
                    }
                    p {
                        font-weight: bold;
                        font-size: 1.3rem;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}