footer {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: $gray;
    text-align: center;
    .footer-item {
        font-size: 1rem;
        display: inline-block;
        p {
            line-height: 1.8;
            span {
                color: rgb(88, 144, 189);
            }
        }
        .btn-wrap {
            margin-top: 15px;
            margin-bottom: 30px;
        }
    }
}