.fqa {
    .inner-large {
        max-width: 970px;
        margin-top: 60px;
        margin-bottom: 60px;
        text-align: center;
        .fqa-title {
            display: inline-block;
            font-size: 2.7rem;
            margin-bottom: 40px;
        }
        #fqa-list {
            text-align: start;
            list-style: none;
            .fqa-list-item {
                margin-bottom: 5px;
                .fq-wrap {
                    border: 1px solid $gray;
                    padding: 20px;
                    border-radius: 3px;
                    position: relative;
                    cursor: pointer;
                    .fq {
                        display: inline-block;
                        &:hover {
                            border-bottom: 2px solid black;
                        }
                        i {
                            color: rgb(0, 132, 255)
                        }
                        .fa-angle-down {
                            font-size: 3rem;
                            color: $gray;
                        }
                        .fa-angle-up {
                            font-size: 3rem;
                            color: $gray;
                        }
                        span {
                            position: absolute;
                            top: 15px;
                            right: 20px;
                        }
                    }
                }
                .answer {
                    padding: 20px 25px 30px 20px;
                    border-bottom: 1px solid rgb(247, 246, 246);
                    font-weight: bold;
                    line-height: 1.4;
                    display: none;
                }
            }
        } 
    }
}