header {
    background-color: #fff;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 2;
}
.item-wrap {
    width: 93%;
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .left-item {
        display: flex;
        align-items: flex-end;
        #header-icon-wrap {
            width: 115px;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        h3 {
            font-size: 1.4rem;
            padding-left: 10px;
            line-height: 1.5;
        }
    }
    .right-item {
        height: 100%;
        .access-btn {
            padding: 12px 35px;
            font-size: 1.4rem;
        }
    }
}
