.recruitment {
    width: 100%;
    background-color :#e7c669;
    display: flex;
    align-items: center;
    justify-content: center;
    &-wrap {
        margin: 25px 0;
        width: 80%;
        height: 90%;
        h3 {
            text-align: center;
            color: #fff;
            font-size: 2.0rem;
            line-height: 1.5;
        }
        #emphasis-point {
            font-size: 1.5rem;
            margin: auto;
            margin-top: 13px;
            width: 45%;
            background-color: rgb(248, 241, 241);
            color: #f82a2a;
            border-radius: 5px;
        }
        .access-btn {
            width: 100%;
            font-size: 2.5rem;
            font-weight: bold;
            padding: 30px 0;
            margin-top: 50px;
        }
        .info-wrap {
            margin-top: 60px;
            width: 100%;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .btn-wrap {
            width: 225px;
            margin: 0 auto;
            margin-top: 30px;
            .twitter-btn {
                background-color: rgb(0, 162, 255);
                color: #fff;
                border-radius: 5px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            .good-btn {
                background-color: rgb(7, 7, 165);
                color: #fff;
                border-radius: 5px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            button {
                background-color: rgb(7, 7, 165);
            }
        }
    }
}
