.three-merit {
    background-color: $white-orange;
    width: 100%;
    height: 1000px;
    text-align: center;
    padding-top: 40px;
    .frame-box {
        margin-bottom: 40px;
        padding: 20px 70px;
        h2 {
            line-height: 2.5;
        }
        h1 {
            font-size: 2.8rem;
            line-height: 1;
        }
    }
    .merit-item-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        .merit-item {
            width: 365px;
            text-align: start;
            .merit-img {
                width: 365px;
                height: 180px;
                display: inline-block;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            h2 {
                font-size: 2rem;
                color: $light-orange;
                line-height: 2;
            }
            p {
                line-height: 1.5;
            }
        }
    }
    .merit-benefits {
        background-color: #fff;
        border: 2px solid $light-orange;
        border-radius: 5px;
        padding-top: 35px;
        padding-bottom: 50px;
        margin-bottom: 40px;
        h1 {
            color: $light-orange;
        }
        h2 {
            line-height: 2;
        }
        p {
            font-weight: bold;
            line-height: 1.5;
        }
    }
    .marit-caution {
        font-size: 1.4rem;
        line-height: 1.5;
    }
} 